#card{
    flex-direction: column;
    height: 500px;
    width: 300px;
    border-radius: 0px;
    margin: auto;
}

#card #img1{
    border-radius: 0px;
    /* width: 100%; */
    height: 200px;
    width: 300px;
    object-fit: cover;
}

#content .cnt{
    padding: 0px;
    margin: 0px;
}